@import 'config';
@import 'menu';
@import 'home';
@import 'about';
@import 'service';
@import 'tragical';
@import 'contact';

html{
    scroll-behavior: smooth;
}

body{
    font-family: Helvetica;
}

header{
    z-index: 2;
    width: 100%;
    padding: 1em;
}